<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <display-name>SQLCmd</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Controller Servlets -->
    <!-- HomeServlet  -->
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>ua.com.malex.controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- SQLCmdController  -->
    <servlet>
        <servlet-name>SQLCmdController</servlet-name>
        <servlet-class>ua.com.malex.controller.SQLCmdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SQLCmdController</servlet-name>
        <url-pattern>/sqlcmd</url-pattern>
    </servlet-mapping>
    <!-- HelpController  -->
    <servlet>
        <servlet-name>HelpController</servlet-name>
        <servlet-class>ua.com.malex.controller.HelpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelpController</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <!-- TablesController  -->
    <servlet>
        <servlet-name>TablesController</servlet-name>
        <servlet-class>ua.com.malex.controller.TablesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TablesController</servlet-name>
        <url-pattern>/tables</url-pattern>
    </servlet-mapping>
    <!-- FindController  -->
    <servlet>
        <servlet-name>FindController</servlet-name>
        <servlet-class>ua.com.malex.controller.FindController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindController</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>

    <!-- Listeners -->
    <listener>
        <listener-class>ua.com.malex.listeners.SessionListener</listener-class>
    </listener>

</web-app>
